/* my message */

.myFileMessageWrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.myFilePhotoWrapper {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 0 19px 0 19px;
}

.myFilePhotoWrapper img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.myFileMessageContent {
    background-color: rgba(17, 91, 134, .7);
    padding: 12px 45px 12px 45px;
    border-radius: 20px 0 20px 20px;
}

.iconWrapper {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.iconWrapper:hover {
    cursor: pointer;
    transition: .3s;
    background-color: rgba(0, 0, 0, .1);
}

.iconWrapper img {
    width: 20px;
    height: 20px;
    padding-bottom: 2px;
}


/* oppponent message */

.opponentFileMessageWrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.opponentFilePhotoWrapper {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 0 19px 0 0;
}

.opponentFilePhotoWrapper img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.opponentFileMessageContent {
    background-color: rgba(26, 184, 230, .4);
    padding: 12px 45px 12px 45px;
    border-radius: 0 20px 20px 20px;
}

.iconWrapper {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.iconWrapper:hover {
    cursor: pointer;
    transition: .3s;
    background-color: rgba(0, 0, 0, .1);
}

.iconWrapper img {
    width: 20px;
    height: 20px;
    padding-bottom: 2px;
}