{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load i18n %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "styles/index.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "styles/file_message.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "styles/my_message.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "styles/opponent_message.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "styles/typing_message.css" %}" media="screen">
    <title>Admin Support</title>
</head>

<body>
    <div class="chatWrapper">
        <div class="chatInner">
            <div class="chatContent">
                </div> -->
            </div>
            <div style="display: flex; align-items: center">
                <div class='messageInputWrapper'>
                    <div class="uploaderWrapper">
                        <label for="upload" class="labelUpload">
                            <img src="{% static "icons/paper-clip-svgrepo-com.svg" %}" alt="">
                        </label>
                        <input type="file" id="upload" class="uploadInput">
                    </div>
                    <input type="text" class="messageInput" placeholder={% trans 'Message...' %}>
                    <div class="sendIconWrapper">
                        <img src="{% static "icons/send_mesage.svg" %}" alt="">
                    </div>
                </div>
                <!-- <div class="photoWrapper">
                    <img src="./icons/defaultUserPhoto.svg" alt="" id='image_input'>
                </div> -->
            </div>
        </div>
    </div>
    <script>
        const CHAT_ID = '{{chat_id | safe}}';
        let my_id = {{ user.id | safe }};
        const TOKEN = '{{ token  | safe }}';
    </script>
    <script type="text/javascript" src="{% url 'websockets:js' %}">
    </script>
</body>
{{ user.sess }}
</html>